{% extends "AppPortfolioBundle::index.html.twig" %}

{% block title %}Home{% endblock %}
	
{% block body %}
	<section class="content_fo">
		<div class="row homepage">
			<div class="last_real">
				<h2><span class="first_letter">L</span>AST PROJECTS</h2>
				<div class="content">
					{% for real in realisations %}
						<div class="text-center vignette">
					        <img src="{{ asset('images/'~real.logo) }}" class="img_vignette img-responsive" width="160" height="160">
					       	<a class="vignette dialog" id="{{ real.id }}">{{ real.title }}</a>
					    </div>
					{% endfor %}
				</div>
			</div>
        	<div class="last_articles">
        		<div class="last_actu">
	        		<h2><span class="first_letter">L</span>AST ACTUALITY<span class="date">01-01-2018</span></h2>
	        		<div class="content">
			        	{% for actu in actualite %}
							<h3>{{ actu.title }}</h3>
							<div>
								{{ actu.text|truncate(1250)|raw }}
								<a class="voir_plus" href="{{ path('app_actualite_show', {id: actu.id}) }}">Voir plus</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="last_sup">
					<h2><span class="first_letter">L</span>AST SUPPORT<span class="date">HTML<span class="separator">|</span>01-01-2018</span></h2>
					<div class="content">
			        	{% for actu in actualite %}
							<h3>{{ actu.title }}</h3>
							<div>
								{{ actu.text|truncate(1250)|raw }}
								<a class="voir_plus" href="{{ path('app_actualite_show', {id: actu.id}) }}">Voir plus</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="last_forum">
				<h2><span class="first_letter">L</span>AST FORUM</h2>
				<div class="content">
					<h3>HTML | CSS</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>JAVASCRIPT</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>PHP</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>SQL | BASE DE DONNEES</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>JAVA</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>C</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>C++</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>LINUX</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>

					<h3>RUBY</h3>
					<a href="" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
					<p class="pseudo">Pseudo | 01-01-2018</p>
				</div>
			</div>
		</div>
		{% for real in realisations %}
		    <div id="dialog_{{ real.id }}" id="{{ real.id }}" style="display:none;">
                <header>
                    <h2>{{ real.title }}</h2>
                </header>
                <section>
                    <img src="{{ asset('images/'~real.imageUn ) }}" class="img-responsive" width="550">
                    <div class="scrollable">
	                    {{ real.text|raw }}
	                </div>
                </section>
                <footer>
                	<a class="voir_site" href="{{ real.url }}" target="_blank">Voir le site</a>
                </footer>
	        </div>
        {% endfor %}
	</section>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$('.dialog').click(function() {
			var id = $(this).attr('id');
			$('#dialog_' + id).dialog({ closeText: 'X', modal: true, width: 720, });
			$('.ui-dialog-titlebar-close').text('X');
		});
	</script>
{% endblock %}

{# https://openclassrooms.com/courses/simplifiez-vos-developpements-javascript-avec-jquery/jquery-ui#/id/r-1636727 #}

{# https://www.tutorialspoint.com/jqueryui/jqueryui_dialog.htm #}