{% extends "AppAdminBundle::index.html.twig" %}

{% block body %}
		<div class="container col-lg-10 col-lg-offset-1 content_admin">

			<div class="row">
				<h1 class="text-center title_admin">{% block title %} {{ 'Profils' }} <i class="fa fa-chevron-right"></i> {{'edit'}} {% endblock %}</h1>
			</div>
			
			<div class="well">
				{{ form_start(form, {'attr' : { 'class' : 'form-horizontal'}} ) }}
				{{ form_errors(form) }}

				<div class="form-group">
					{{ form_label(form.title, 'Nom du profil', {'label_attr': { 'class' : 'col-sm-2 control-label' }} ) }}
					{{ form_errors(form.title) }}
					<div class="col-sm-8">
						{{ form_widget(form.title, { 'attr' : {'class' : 'form-control'}} ) }}
					</div>
				</div>
				<div class="save">
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary save'}}) }}
				</div>

				{{ form_rest(form) }}
  				{{ form_end(form) }}
			</div>
		</div>
{% endblock %}