{% extends "AppAdminBundle::index.html.twig" %}

{% block body %}
		<div class="container col-lg-10 col-lg-offset-1 content_admin">

			<div class="row">
				<h1 class="text-center title_admin">{% block title %} {{ 'Thèmes' }} {% endblock %}</h1>
			</div>
			
			<div class="row">
				<a href="{{ path('app_admin_theme_new') }}" class="btn create pull-right" role="button">Ajouter un thème</a>
			</div>
			
	        <div class="table-responsive table-challenge">
	            <table class="table table-striped table-hover table-bordered records_list">
	                <thead>
	                <tr>
	                    <th scope="col">Order</th>
	                    <th scope="col">Title</th>
	                    <th scope="col"></th>
	                </tr>
	                </thead>
	                <tbody>
		                {% for th in theme %}
		                    <tr id="th{{ th.id }}">
		                        <td style="width:20%;">{{ th.id }}</td>
		                        <td style="width: 70%;">{{ th.title }}</td>
		                        <td style="width: 10%;text-align:center;">
		                            <div class="btn-challenge">
	                                    <a class="btn btn-default btn-sm" href=" {{ path('app_admin_theme_edit', {id: th.id}) }}" alt="{{ 'Modifier'|trans({}, 'admin') }}">
	                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
	                                    </a>
	                                    <a class="btn btn-default btn-sm" onclick="return confirm('Êtes vous sur de vouloir supprimer ce thème?')" href="{{ path('app_admin_theme_delete', {id: th.id}) }}" alt="{{ 'Supprimer'|trans({}, 'admin') }}">
	                                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
	                                    </a>	                                
		                            </div>
		                        </td>
		                    </tr>
	                	{% endfor %}
	                </tbody>
	            </table>
	        </div>
        {# {{ knp_pagination_render(paginator) }} #}
		</div>
{% endblock %}