{% extends "AppPortfolioBundle::index.html.twig" %}

{% block title %}Projects{% endblock %}

{% block body %}
	<section class="content_fo">
		<div class="row">
			<h1 class="text-center title_fo">Projects</h1>
		</div>

		<div class="projects">
			{% for real in realisations %}
				<div class="row vignette">
					<div class="text-center">
				        <img src="{{ asset('images/'~real.logo) }}" class="img-responsive img_vignette" width="160" height="160">
				       	<a class="vignette dialog" id="{{ real.id }}">{{ real.title }}</a>
				    </div>
				</div>
			{% endfor %}
		</div>

		{% for real in realisations %}
		    <div id="dialog_{{ real.id }}" id="{{ real.id }}" style="display:none;">
                <header>
                    <h2>{{ real.title }}</h2>
                </header>
                <section>
                    <img src="{{ asset('images/'~real.imageUn ) }}" class="img-responsive" width="550">
                    <div class="scrollable">
	                    {{ real.text|raw }}
	                </div>
                </section>
                <footer>
                	<a class="voir_site" href="{{ real.url }}" target="_blank">Voir le site</a>
                </footer>
	        </div>
        {% endfor %}
	</section>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$('.dialog').click(function() {
			var id = $(this).attr('id');
			$('#dialog_' + id).dialog({ closeText: 'X', modal: true, width: 720, });
			$('.ui-dialog-titlebar-close').text('X');
		});
	</script>
{% endblock %}

{# https://openclassrooms.com/courses/simplifiez-vos-developpements-javascript-avec-jquery/jquery-ui#/id/r-1636727 #}

{# https://www.tutorialspoint.com/jqueryui/jqueryui_dialog.htm #}