{% extends "AppAdminBundle::index.html.twig" %}

{% block title %} Comments {% endblock %}

{% block body %}
		<div class="container col-lg-10 col-lg-offset-1 content_bo">

			<div class="row">
				<h1 class="text-center title_bo">Comments</h1>
			</div>
			
	        <div class="table-responsive table-challenge">
	            <table class="table table-striped table-hover table-bordered records_list">
	                <thead>
	                <tr>
	                    <th scope="col"></th>
	                    <th scope="col">Title</th>
	                    <th scope="col">Description</th>
	                    <th scope="col">Date</th>
	                    <th scope="col">Publish</th>
	                    <th scope="col">Action</th>
	                </tr>
	                </thead>
	                <tbody>
		                {# {% for actu in actualite %} #}
		                    <tr id="actu{# {{ actu.id }} #}">
		                        <td style="width: 10%;" >
		                        	<img src="{# {{ asset('images/'~actu.visuel) }} #}" class="img-responsive" width="80" height="80">
		                        </td>
		                        <td style="width:20%;">{# {{ actu.title|truncate(70) }} #}</td>
		                        <td style="width: 45%;">{# {{ actu.text|truncate(100) }} #}</td>
		                        <td style="width: 10%;">
		                        	{# {% if actu.date is defined %}
		                        		{{ actu.date }}
		                        	{% endif %} #}
		                        </td>
		                        <td style="width:5%;text-align:center;">{# {{ actu.publish }} #}</td>
		                        <td style="width: 10%;text-align:center;">
		                            {# <div class="btn-challenge">
	                                    <a class="btn btn-default btn-sm" href=" {{ path('app_admin_actualite_edit', {id: actu.id}) }}" alt="{{ 'Modifier'|trans({}, 'admin') }}">
	                                        <i class="glyphicon glyphicon-pencil"></i>
	                                    </a>
	                                    <a class="btn btn-default btn-sm" onclick="return confirm('Êtes vous sur de vouloir supprimer cette réalisation?')" href="{{ path('app_admin_actualite_delete', {id: actu.id}) }}" alt="{{ 'Supprimer'|trans({}, 'admin') }}">
	                                        <i class="glyphicon glyphicon-remove"></i>
	                                    </a>	                                
		                            </div> #}
		                        </td>
		                    </tr>
	                	{# {% endfor %} #}
	                </tbody>
	            </table>
	        </div>
        {# {{ knp_pagination_render(paginator) }} #}
		</div>
{% endblock %}